:root {
  --primary-bg-color: white;
  --primary-font-color: black;
  --primary-font-size: 18px;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
  font-size: var(--primary-font-size);
  line-height: 22px;
}

p {
  text-align: justify;
}
.main {
  width: 90%;
  margin: 0 auto;
}

.canvas {
  width: 100%;
  height: 100%;
}

.headline2 {
  text-align: center;
}

.description{
  padding:30px;
}
.description p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: red;
}

.input-wrapper {
  min-width: 290px;
  margin: 8px;
}
.input-wrapper,
.slide-value {
  display: inline-block;
}

.slide {
  float: right;
  -webkit-appearance: none;
  min-width: 225px;
  height: 20px;

  outline: none;
  opacity: 0.7;
  padding: 0px;
  margin: 2px 0px 2px 0px;

  border-radius: 15px;
  background: #ffffff;
  box-shadow: inset 26px 26px 52px #b3b3b3, inset -26px -26px 52px #ffffff;
}
.slide:hover {
  opacity: 1;
}
.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 20px;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}
.slider::-moz-range-thumb {
  width: 35px;
  height: 20px;
  cursor: pointer;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}

.slide-value {
  width: 65px;
  height: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 0px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 6px 6px 12px #969696, -6px -6px 12px #ffffff;
}

.someBtn {
  background-color: #ffffff;
  border: none;
  color: black;
  margin: 5px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 26px 26px 52px #969696, -26px -26px 52px #ffffff;
}
.someBtn:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff;
}
.someBtn:active {
  background-color: #ffffff;
  box-shadow: inset 8px 8px 16px #969696, inset -8px -8px 16px #ffffff;
  /* transform: translateY(4px); */
}

/* PLOT AND INPUT CONTAINER */
.bm-plot-content-wrapper,
.bm-dens-plot-content-wrapper,
.bm-dens-add-plot-content-wrapper{
  border-radius: 30px 30px 0px 0px;
  box-shadow: 26px 0px 52px #969696, -26px -26px 52px #ffffff;
}

.bm-input-section,
.bm-dens-input-section{
  border-radius: 0px 0px 30px 30px;
  box-shadow: 26px 26px 52px #969696, -26px -26px 52px #ffffff;
}

.bm-line-plot-container,
.bm-hist-plot-container,
.bm-dens-line-plot-container,
.bm-dens-table-plot-container{
  position: relative;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
# =========
# =====================
# =====================================
# ===================================================================================
# ===================================================================================
// BROWNIAN MOTION
*/
.bm-plot-content-wrapper{
  width: 100%;
  min-height: 575px;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
  font-size: 0;
}
.bm-line-plot-container {
  display: inline-block;
  margin: 0 auto;
  width: 65%;
  height: 500px;
}
.bm-hist-plot-container {
  display: inline-block;
  margin-right: 2%;
  width: 33%;
  height: 500px;
}
.bm-input-section {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
.bm-input-section button{
  margin-bottom: 10px;
}
/*
# =========
# =====================
# =====================================
# ===================================================================================
# ===================================================================================
# DENSITY ANALYSIS
*/
.bm-dens-plot-content-wrapper{
  width: 100%;
  min-height: 375px;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
  font-size: 0; /* <-- to have e.g. 50% div beside each other without borders*/
}
.bm-dens-line-plot-container {
  display: inline-block;
  margin: 0 auto;
  width: 65%;
  height: 300px;
}
.bm-dens-table-plot-container {
  display: inline-block;
  margin-right: 3%;
  width: 32%;
  height: 300px;
}
.bm-dens-input-section {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
.bm-dens-input-section button{
  margin-bottom: 10px;
}

/* ----- ----- ----  */
/* h[1,] bis mehr */

.bm-dens-add-plot-content-wrapper{
  width: 100%;
  min-height: 600px;
  margin: 0;
  border-radius: 30px 30px 30px 30px;
}

.row-wrapper{
  width:100%;
  margin:0 auto;
  font-size: 0;
}
.bm-line-1-plot-container,
.bm-line-2-plot-container,
.bm-line-3-plot-container,
.bm-line-4-plot-container,
.bm-line-5-plot-container,
.bm-line-6-plot-container{
  /* margin: 0; */
  width:50%;
  height: 200px;
  background-color: #969696;
  border-radius: 30px 30px 30px 30px;
  display: inline-block;
  /* font-size: 0; */
}
