/*
<!--
    ########################################
    ## @author Benjamin Thomas Schwertfeger (July 2021)
    ## copyright by Benjamin Thomas Schwertfeger (July 2021)
    ############ 
-->
*/

:root {
  --primary-bg-color: white;
  --primary-font-color: black;
  --primary-font-size: 18px;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  /* avoid transition flickering */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
html {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
  font-size: var(--primary-font-size);
  line-height: 22px;
}

p {
  text-align: justify;
}
.main {
  width: 90%;
  margin: 0 auto;
}

.canvas {
  width: 100%;
  height: 100%;
}

.headline2 {
  text-align: center;
}

.description {
  padding: 30px;
}
.description p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: blue;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: red;
}

.input-wrapper {
  min-width: 230px;/*290px;*/
  margin: 8px;
}
.input-wrapper,
.slide-value {
  display: inline-block;
}

.slide {
  float: right;
  -webkit-appearance: none;
  min-width: 165px;/*225px;*/
  height: 20px;

  outline: none;
  opacity: 0.7;
  padding: 0px;
  margin: 2px 0px 2px 0px;

  border-radius: 15px;
  background: #ffffff;
  box-shadow: inset 26px 26px 52px #b3b3b3, inset -26px -26px 52px #ffffff;
  transition: opacity 0.3s ease-in-out;
}
.slide:hover {
  opacity: 1;
}
.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 20px;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}
.slider::-moz-range-thumb {
  width: 35px;
  height: 20px;
  cursor: pointer;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}

.slide-value {
  width: 65px;
  height: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 0px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 6px 6px 12px #969696, -6px -6px 12px #ffffff;
}

.someBtn {
  background-color: #ffffff;
  border: none;
  color: black;
  margin: 5px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 16px 16px 32px #969696, -16px -16px 32px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}
.someBtn:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff;
  cursor: pointer;
}
.someBtn:active {
  background-color: #ffffff;
  box-shadow: inset 8px 8px 16px #969696, inset -8px -8px 16px #ffffff;
  /* transform: translateY(4px); */
}

/* PLOT AND INPUT CONTAINER */
.bm-plot-content-wrapper,
.bm-dens-plot-content-wrapper,
.bm-dens-add-plot-content-wrapper,
.df-plot-content-wrapper {
  border-radius: 30px 30px 0px 0px;
  box-shadow: 26px 0px 52px #969696, -26px -26px 52px #ffffff;
}

.bm-input-section,
.bm-dens-input-section,
.df-input-section {
  border-radius: 0px 0px 30px 30px;
  box-shadow: 26px 26px 52px #969696, -26px -26px 52px #ffffff;
}

.bm-line-plot-container,
.bm-hist-plot-container,
.bm-dens-line-plot-container,
.bm-dens-table-plot-container,
.df-plot-container {

  z-index: 5;
  position: relative;
  -webkit-transform: translateZ(0);

  position: relative;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
# =========
# =====================
# =====================================
# ===================================================================================
# ===================================================================================
// BROWNIAN MOTION
*/
.bm-plot-content-wrapper {
  width: 100%;
  min-height: 575px;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
  font-size: 0;
}
.bm-line-plot-container {
  display: inline-block;
  margin: 0 auto;
  width: 65%;
  height: 500px;
}
.bm-hist-plot-container {
  display: inline-block;
  margin-right: 2%;
  width: 33%;
  height: 500px;
}
.bm-input-section {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
.bm-input-section button {
  margin-top: 15px;
  vertical-align: top;
}
/*
# =========
# =====================
# =====================================
# ===================================================================================
# ===================================================================================
# DENSITY ANALYSIS
*/

.bm-dens-plot-content-wrapper {
  /* wrapper for all in this section */
  width: 100%;
  min-height: 375px;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
  font-size: 0; /* <-- to have e.g. 50% div beside each other without borders*/
}
.bm-dens-input-section {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 12px 12px 24px #969696, -12px -12px 24px #ffffff;
}
.bm-dens-input-section button {
  margin-top: 15px;
  vertical-align: top;
  /* box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.7;
  transition: opacity 0.3 ease-in-out;
}
.switch-slider:hover{
  opacity: 1;
}
.switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .switch-slider {
  background-color: rgb(55, 184, 76);
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px rgb(55, 184, 76);
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.switch-slider {
  border-radius: 34px;
}
.switch-slider:before {
  border-radius: 50%;
}

/* ----- ----- ----  */
/* PLOTS in DENS ANALYSIS SECTION */

.bm-dens-add-plot-content-wrapper {
  width: 100%;
  min-height: 600px;
  margin: 0;
  border-radius: 30px 30px 30px 30px;
}
.row-wrapper {
  width: 95%;
  margin: 0 auto;
  font-size: 0;
}
.col-left,
.col-right {
  display: inline-block;
  width: 50%;
  height: 220px;
}
.bm-dens-line-hist-plot-container,
.bm-dens-table-plot-container,
.bm-line-1-plot-container,
.bm-line-2-plot-container,
.bm-line-3-plot-container,
.bm-line-4-plot-container,
.bm-line-5-plot-container,
.bm-line-6-plot-container{
  margin: 0 auto;
  width: 95%;
  height: 200px;
  border-radius: 30px 30px 30px 30px;
  padding-right: 2%;
}
.contour-plot-wrapper{
  height: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.contour-plot-container{
  width: 95%; 
  height: 630px; 
  margin: 0 auto;
}

.dens-plot-styling {
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 20px 0px 32px #969696, -20px -20px 32px #ffffff;
}

@media only screen and (max-width: 740px) {
  .col-left,
  .col-right {
    display: block;
    width: 100%;
  }
}

/*
# =========
# =====================
# =====================================
# ===================================================================================
# ===================================================================================
# DRIVING FUNCTION 
*/

.df-plot-content-wrapper {
  width: 80%;
  min-height: 575px;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
  font-size: 0;
}
.df-plot-container {
  display: inline-block;
  margin: 0 auto;
  width: 98%;
  margin-right: 2%;
  height: 500px;
}
.df-input-section {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
.df-input-section button {
  margin-top: 15px;
  vertical-align: top;
}
